<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NumofVm" value="4" />
    <add key="DevicePerVm" value="120" />
    <add key="SizeOfVM" value="large" />
    <add key ="SizeOfHub" value =""/>
    <add key ="NumOfHubUnit" value=""/>
    <add key="MessagePerMin" value="6" />
    <add key="DurationInMin" value="20" />
    <add key="DeviceIdPrefix" value="TestDevice" />
    <add key="Message" value="" />
    <add key="BatchServiceUrl" value="https://stressloadbatch.eastus.batch.azure.com" />
    <add key="BatchAccountKey" value="/7YKAOW+mYbQ9NG78q5z+xXhWkOleTuKMgAS05hlpwte6pJoqzPW4Wl+2GT2qbeeWjnWc2wl2roNw/RDs4/FOQ==" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=stressloadsa;AccountKey=N5JFZJi6TtbWwVn/9bl/u6w4WMgWZRH4U9tczvd376J/sLXJGPRZUzblucTD62Ns+V4vXKbpGgbaxk62DQVfMw==;EndpointSuffix=core.windows.net" />
    <add key="DeviceClientEndpoint" value="HostName=stressloadhub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=SQkEtqDY/QEM3koD+LrrH607tmMwWSKMBG92ecNbo5I=" />
    <!--Available transport: Mqtt, Amqp-->
    <add key="Transport" value="Mqtt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>