<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NumofVm" value="4" />
    <add key="DevicePerVm" value="120" />
    <add key="SizeOfVM" value="large" />
    <add key ="SizeOfHub" value =""/>
    <add key ="NumOfHubUnit" value=""/>
    <add key="MessagePerMin" value="6" />
    <add key="DurationInMin" value="20" />
    <add key="DeviceIdPrefix" value="TestDevice" />
    <add key="Message" value="" />
    <add key="BatchServiceUrl" value="" />
    <add key="BatchAccountKey" value="" />
    <add key="StorageConnectionString" value="" />
    <add key="DeviceClientEndpoint" value="" />
    <!--Available transport: Mqtt, Amqp-->
    <add key="Transport" value="Mqtt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>